@keyframes dap {
    25% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes mau {
    25% {
        background-color: red;
    }
    100% {
        background-color: deeppink;
    }
}
.hinhnen {
    margin: 0px;
    height: 100vh;
    /*background-image: url(anh\ nen.jpg);*/
    background-color: whitesmoke;
    /*background-color:  #FFF7D9;*/
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}
:root{
    --kickthuoc: 50px;
    --kichthuoc2: 30px;
    --kichthuoc3: 10px;
    --mau: red;
}
.khung{
    height: var(--kickthuoc);
    width: var(--kickthuoc);
    background-color: rgba(255, 255, 255, 0); ;
    position: absolute;
    animation: dap 1s infinite ease-in-out;
}
.tron1 {
    position: absolute;
    height: calc(var(--kickthuoc)*2/3);
    width: calc(var(--kickthuoc)*2/3);
    background-color: deeppink;
    bottom: 0px;
    right: calc(var(--kickthuoc)*1/3);
    border-radius: 50%;
    animation: mau 1s infinite ease-in-out;
}
.tron2 {
    position: absolute;
    height: calc(var(--kickthuoc)*2/3);
    width: calc(var(--kickthuoc)*2/3);
    background-color: deeppink;
    bottom: calc(var(--kickthuoc)*1/3);
    right:0px;
    border-radius: 50%;
    animation: mau 1s infinite ease-in-out;
}
.vuong {
    background-color: deeppink;
    height: calc(var(--kickthuoc)*2/3);
    width: calc(var(--kickthuoc)*2/3);
    position: absolute;
    bottom: 0px;
    left: calc(var(--kickthuoc)*1/3);;
    animation: mau 1s infinite ease-in-out;
}